<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form (ngSubmit)="onAddTodo(); todoForm.reset()" #todoForm="ngForm">
            <div class="input-group" id="newTask">
                <input type="text" id="task" name="task" class="form-control" placeholder="New task..." [(ngModel)]="input" required>
                <div class="input-group-btn">
                    <button id="save-btn" class="btn btn-success" type="submit" [disabled]="todoForm.form.invalid">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>